# 服务器API地址
VITE_SERVER_API_ENDPOINT=http://localhost:8000/v1/api
# 服务器SOCKET地址（保留项，看你要不要）
VITE_SERVER_SOCKET_API_ENDPOINT=wss://localhost:idk/v1/api

# 对话大模型API地址
VITE_OPENAI_API_ENDPOINT=idk
# 对话大模型API密钥
VITE_OPENAI_API_SERCET=idk

VITE_CHAT_SERVER_API_URL=idk

VITE_MCP_EXA_API_KEY=