# 服务器API地址
VITE_SERVER_API_ENDPOINT=http://localhost:8000/v1/api
# 服务器SOCKET地址（保留项，看你要不要）
VITE_SERVER_SOCKET_API_ENDPOINT=wss://localhost:idk/v1/api

# 对话大模型API地址
VITE_OPENAI_API_ENDPOINT=/chat-api
VITE_OPENAI_API_MODEL=Qwen3.5-2B-Q4_K_S.gguf
# 对话大模型API密钥
VITE_OPENAI_API_SERCET=idk

VITE_MCP_EXA_API_KEY=idk

# Odoo 19配置
VITE_ODOO_BASE_URL=null
VITE_ODOO_DATABASE=idk
VITE_ODOO_USERNAME=idk
VITE_ODOO_PASSWORD=idk
VITE_ODOO_API_KEY=idk
