# MySQL 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password  # 替换为你的 MySQL 密码
DB_NAME=emotion_analysis  # 数据库名
DB_CHARSET=utf8mb4
# True会自动插入Mock数据，其他值则不插入Mock数据至数据库
ENABLE_DATABASE_MOCKS=False